:root {
	--ff-main: "Spartan";
	--light-gray-text: hsl(0, 0%, 63%);

	--main-green: rgb(83, 178, 128);
	--main-blue: rgb(108, 81, 242);
	--main-orange: rgb(218, 156, 89);
	--main-yellow: rgb(228, 207, 104);
	--main-red: #e86f68;
	--main-black: #272324;
	--main-tan: #e4d8b4;
	--main-box-shadow: 5px 5px #272324;
	--animated-box-shadow: 0px 0px 0px 0px #272324;

	--tan: rgb(243, 221, 193);
	--blue1: rgb(18, 39, 81);
	--blue2: rgb(54, 109, 142);
	--blue3: rgb(73, 139, 152);
	--blue4: rgb(142, 174, 166);
	--orange1: rgb(244, 224, 185);
	--orange2: rgb(235, 171, 119);
	--orange3: rgb(223, 117, 68);
	--orange4: rgb(207, 74, 49);

	--main-brown: rgb(124, 109, 97);
	--light-pink: rgba(231, 209, 201);
}

input {
	background-color: none !important;
}

p {
	line-height: 1.5;
}

body {
	font-family: var(--ff-main);
}

.hamburger {
	position: fixed;
	top: 25px;
	right: 25px;
	z-index: 2000;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	color: white;
	font-family: var(--ff-main);
}

.register-btn {
	margin-left: auto;
	background: none;
	border: none;
	cursor: pointer;
}

.class-list-item {
	display: flex;
	width: 100%;
	padding: 1em 1em;
	align-items: center;
}

.class-list-item {
	border-bottom: 1px solid lightgray;
}

.class-list-item:last-child {
	border-bottom: none;
}

.class-details {
	font-size: 0.75em;
}

.class-actions,
.currently-registered {
	margin-left: auto;
}

.list-nav {
	padding-bottom: 3em;
}

.sidebar-nav {
	padding-top: 8em;
}

.list-nav {
	display: flex;
	flex-direction: column;
}

.nav-item {
	text-decoration: none;
	color: rgb(124, 109, 97);
}

.nav-item + .nav-item {
	margin-top: 1em;
}

.list-nav-ul {
	display: flex;
}

.list-nav-item {
	flex: 1;
	text-align: center;
	cursor: pointer;
}

.user-btns {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: 1px solid var(--main-brown);
	width: 60%;
}

.user-btn {
	background: none;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	font-family: var(--ff-main);
	padding: 0;
	margin-top: 0;
}

.sidebar {
	position: fixed;
	height: 100vh;
	background-color: white;
	top: 0;
	right: 0;
	width: 65%;
	z-index: 700;
	padding-left: 2em;
	background: rgba(231, 209, 201);
}

.student-manage {
	height: 100vh;
	background-color: white;
	padding-top: 8em;
}

.hero {
	background: linear-gradient(
			rgba(231, 209, 201, 0.3),
			rgba(231, 209, 201, 0.3)
		),
		url("./images/main-img-2.jpeg");
}

.yoga-blocks-img {
	background: linear-gradient(
			rgba(208, 180, 159, 0.5),
			rgba(208, 180, 159, 0.5)
		),
		url("./images/yoga-blocks-min.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero,
.yoga-blocks-img {
	background-position: center;
	background-repeat: none;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.yoga-blocks-content,
.yoga-blocks-title {
	color: white !important;
}

.hero-title {
	color: black;
	font-size: 2em;
	text-align: center;
	width: 100%;
	font-family: "Dawning of a New Day", cursive;
}

.hero-content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 250px;
	text-align: left;
}

.hero-title {
	font-size: 1.5em;
	text-align: left;
	padding-left: 1em;
}

.login-signup-button {
	background: none;
	border: none;
	text-transform: uppercase;
	letter-spacing: 8px;
	padding: 0px;
	font-size: 1em;
	margin-right: 2em;
	color: white;
}

.login-signup-button-group {
	display: flex;
	align-items: center;
	color: white;
}

.arrow-icon {
	color: white;
	stroke: white;
	fill: white;
}

.main-section h2,
.main-section p {
	width: 90%;
	margin: 0 auto;
	max-width: 75ch;
}

.main-section h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.5em;
	color: rgb(124, 109, 97);
}

.main-section p {
	font-weight: 500;
	font-size: 16px;
	color: var(--light-gray-text);
	line-height: 1.5;
}

.main-section {
	min-height: 100vh;
	position: relative;
	left: 0;
	right: 0;
}

.section-title {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
}

.section-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* My story */
.my-story-section {
	background-image: linear-gradient(
		174.2deg,
		rgba(255, 244, 228, 1) 7.1%,
		rgba(240, 246, 238, 1) 67.4%
	);
}

.my-img {
	width: 90%;
	margin: 0 auto;
	max-width: 450px;
	border-radius: 3px;
	box-shadow: -20px 20px 0px 0px rgb(243, 231, 228),
		-40px 40px 0px 0px var(--light-pink);
}

.how-it-works,
.my-story-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* how it works */
.how-it-works-item + .how-it-works-item {
	margin-top: 2em;
}

/* How does this work? */
.how-it-works-img {
	width: 100%;
	object-fit: cover;
	max-width: 993px;
	margin: 0 auto;
}

.how-it-works-section {
	padding-top: 0;
	color: white;
}

.how-it-works {
	background-image: linear-gradient(
		174.2deg,
		rgba(255, 244, 228, 1) 7.1%,
		rgba(240, 246, 238, 1) 67.4%
	);
}

.book-private-section {
	background: linear-gradient(
			rgba(208, 180, 159, 0.5),
			rgba(208, 180, 159, 0.5)
		),
		url("./images/group-yoga.jpg");
	background-repeat: none;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.book-private-container {
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-direction: column;
}

footer {
	padding: 5em 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-pink);
}

.student-lists-container {
	max-width: 400px;
	margin: 0 auto;
}

.lists-container > * {
	padding: 0 5em;
}

/* ADMIN DASHBOARD */
.stats-overview {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 2em 0;
}
.stats-overview > * + * {
	margin-left: 2em;
}
.admin-dashboard {
	padding-top: 8em;
	background-color: white;
}
.schedule-class-btn {
	width: 100px;
	margin: 0 auto;
	width: auto;
}
.admin-square-1 {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid gray; */
	margin: 2em auto;
}

.admin-welcome {
	/* border: 1px solid black; */
	padding: 0.5em 1em;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.multiple-lists-container {
	max-width: 600px;
	margin: 0 auto;
}

.multiple-lists-nav-item {
	font-size: 14px;
	color: gray;
	padding-bottom: 1em;
}

.currently-registered {
	font-size: 12px;
	text-align: right;
}

.qr-code {
	width: 100px;
	margin: 0 auto;
	margin-top: 1em;
}

.header {
	position: relative;
	width: 100%;
	top: 50px;
	z-index: 599;
}

button:disabled {
	cursor: not-allowed;
}

/* FORMS */
.create-class-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.create-class-date, .create-class-time {
	margin-bottom: 1em;
}


.update-class-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.confirm-update-class {
	margin-top: 1em;
}

.update-class-date {
	margin-bottom: 1em;
}

/* MODALS */



.cancel-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

.please-confirm-cancel {
	padding: .5em;
}

.edit-class-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}
.delete-class-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

.cancellation-btn {
	margin-top: 1em;
}

.venmo-btn {
	text-decoration: none !important;
}

.modal-title {
	padding-bottom: 2em;
	font-size: 1.5em;
}

.main-btn {
	background-color: var(--main-brown);
	color: var(--light-pink);
}

.modal-btn {
	margin-top: 1em;
	background-color: var(--main-brown);
	color: var(--light-pink);
}

.add-playlist-modal {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 5em;
}

/* LISTS */

.selected-list {
	color: black;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.list-title {
	text-align: center;
	margin-bottom: 2em;
}

.empty-list {
	padding: 1em;
	text-align: center;
}

/* PLAYLIST LIST */
.playlist-list {
	padding: 0.5em;
}

.playlist-item {
	padding: 1em;
	cursor: pointer;
}
.playlist-item:hover {
	opacity: 0.6;
}

/* PARTICIPANT LIST */
.no-current-registrants {
	padding: 0.5em;
	height: 100%;
	display: flex;
	align-items: center;
}
/* .modal-content {
	height: 100%;
} */

.participant-content {
	height: 100%;
}

.current-registrant-modal {
	height: 100%;
}

.participant-list {
	padding: 0.5em;
	width: 100%;
	overflow-y: scroll;
	max-height: 400px;
}
.participant {
	font-size: 12px;
	padding: 1em 0.5em;
	border-bottom: 1px solid var(--main-brown);
	display: flex;
	align-items: center;
}

.participant:last-child {
	border-bottom: none;
}

.participant-details {
	margin-left: 1em;
}

.participant-details > div:first-child {
	margin-bottom: 0.5em;
}

/* ANIMATIONS */

/* SIDEBAR */
/* sidebar background fade in */
.sidebar-slide-enter > .modal-backdrop {
	opacity: 0;
}
.sidebar-slide-enter.sidebar-slide-enter-active > .modal-backdrop {
	opacity: 0.8;
	transition: opacity 250ms ease;
}

/* Sidebar background fade out */
.sidebar-slide-exit > .modal-backdrop {
	opacity: 0.8;
}
.sidebar-slide-exit.sidebar-slide-exit-active > .modal-backdrop {
	opacity: 0;
	transition: opacity 250ms ease;
	transition-delay: 350ms;
}

/* Sidebar slide in */
.sidebar-slide-enter > .sidebar {
	transform: translateX(100%);
}
.sidebar-slide-enter.sidebar-slide-enter-active > .sidebar {
	transform: translateX(0);
	transition: transform 500ms ease;
}

/* Sidebar slide out */
.sidebar-slide-exit > .sidebar {
	transform: translateX(0);
}
.sidebar-slide-exit.sidebar-slide-exit-active > .sidebar {
	transform: translateX(100%);
	transition: transform 500ms ease;
}

.toast {
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 10000;
	border-radius: 10px;
	background: black;
	color: white;
	font-weight: bold;
	padding: 1.5em;
	width: 200px;
}

.success {
	background: var(--main-green);
}

.failure {
	border-top: 3px solid var(--main-red);
}

.fade-toast-enter {
	opacity: 0;
	transform: translateX(100%);
}

.fade-toast-enter.fade-toast-enter-active {
	opacity: 1;
	transform: translateX(0);

	transition: opacity 500ms ease, transform 500ms ease;
}

.fade-toast-exit {
	opacity: 1;
	transform: translateX(0);
}

.fade-toast-exit.fade-toast-exit-active {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 500ms ease, transform 500ms ease;
}

@media screen and (min-width: 1200px) {
	/* FULL PAGE TRANSITION */

	.first-overlay,
	.second-overlay {
		background-color: var(--main-brown);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.first-overlay {
		top: 0;
		bottom: 0;
		width: 100%;
		position: absolute;
		opacity: 1;
		transform: translateX(-100%);
	}

	.first-overlay-on {
		z-index: 600;
		opacity: 1;
		transform: translateX(0);
		transition: transform 500ms ease;
	}

	.second-overlay {
		top: 0;
		bottom: 0;
		width: 100%;
		position: absolute;
		opacity: 0;
		transform: translateX(0);
	}

	.second-overlay-on {
		transform: translateX(100%);
		opacity: 1;
		transition: transform 500ms ease;
		z-index: 600;
	}

	.page {
		position: absolute;
		left: 0;
		right: 0;
	}

	/* TRANSITION END */

	.lists-container {
		display: flex;
		width: 100%;
	}

	.lists-container > * {
		flex: 1;
	}

	.student-manage {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}

	.how-it-works-container {
		display: flex;
		align-items: center;
		max-width: 893px;
	}

	.how-it-works-item + .how-it-works-item {
		margin-top: 0;
		margin-left: 4em;
	}

	.hero-content {
		position: static;
	}

	.hero-title {
		/* color: white; */
		color: black;
		font-size: 2em;
		text-align: left;
	}

	.header {
		display: flex;
		align-items: center;
		padding: 2em 3em;
		background: var(--light-pink);
		top: 0;
		position: fixed;
	}

	.list-nav {
		flex-direction: row;
		padding: 0;
		align-items: center;
		flex: 1;
		width: 100%;
		padding-left: 3em;
	}

	.user-btns {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		border-bottom: none;
		width: auto;
		order: 2;
		margin-left: auto;
		line-height: 16px;
	}

	/* .user-btns > button {
		background: white;
		color: var(--main-brown);
	} */

	.nav-item + .nav-item {
		margin-top: 0;
	}

	.main-nav-item {
		margin-right: 2.5em;
	}
	/* .nav-item {
		color: black;
	} */
	.list-nav * {
		font-size: 12px;
	}
	.signup-button {
		margin-left: 2.5em;
	}
}
