html,
body,
#root {
	height: 100%;
}

body {
	font-family: var(--ff-main);
}

:root {
	--ff-main: "Spartan";
	--light-gray-text: hsl(0, 0%, 63%);
	--main-tan: #e4d8b4;
	--tan: rgb(243, 221, 193);
	--main-brown: rgb(124, 109, 97);
	--light-pink: rgba(231, 209, 201);
	--lighter-pink: rgba(241, 231, 221);
}

.coming-soon {
	color: white;
	font-size: 5em;
	text-align: center;
}

.not-found {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("./images/confetti-doodles.svg");
	height: 100%;
}

.not-found-content {
	padding: 1em;
	text-align: center;
}

input {
	background-color: none !important;
}

input:disabled {
	cursor: not-allowed;
}

p {
	line-height: 1.5;
}

.hamburger {
	position: fixed;
	top: 25px;
	right: 25px;
	z-index: 2000;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	color: white;
	font-family: var(--ff-main);
}

.register-btn {
	margin-left: auto;
	background: none;
	border: none;
	cursor: pointer;
}

.class-list {
	max-height: 30vh;
	overflow-y: scroll;
}

.class-list-item {
	display: flex;
	width: 100%;
	padding: 1em 1em;
	align-items: center;
	min-height: 92px;
}

.class-list-item {
	border-bottom: 1px solid lightgray;
}

.class-details-list {
	padding: 0.5em;
}

.class-list-item:last-child {
	border-bottom: none;
}

.class-details {
	font-size: 0.75em;
}

.class-actions,
.currently-registered {
	margin-left: auto;
}

.list-nav {
	padding-bottom: 3em;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
}

.sidebar-nav {
	padding-top: 8em;
}

.nav-item {
	text-decoration: none;
	color: rgb(124, 109, 97);
}

.nav-item + .nav-item {
	margin-top: 1em;
}

.list-nav-ul {
	display: flex;
}

.list-nav-item {
	flex: 1;
	text-align: center;
	cursor: pointer;
	margin-top: 0.5em;
}

.user-btns {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: 1px solid var(--main-brown);
	width: 60%;
}

.user-btn {
	background: none;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	font-family: var(--ff-main);
	padding: 0;
	margin-top: 0;
}

.sidebar {
	position: fixed;
	height: 100vh;
	background-color: white;
	top: 0;
	right: 0;
	width: 65%;
	z-index: 700;
	padding-left: 2em;
	background: rgba(231, 209, 201);
}

.student-manage {
	padding-top: 5em;
}

.dashboard-instructions {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 3em;
	padding: 0 1em;
}

.main-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}

.main-title {
	color: white;
	font-family: "Dawning of a New Day", cursive;
	font-size: 5em;
	text-align: center;
	padding: 20px 10px;
	margin: 0 20px;
}

.title-btns > .user-btns {
	flex-direction: row;
	color: purple;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	margin-top: 1em;
}

.title-btns > .user-btns button {
	border: 3px solid white;
	color: white;
	background: transparent;
	margin: 0;
}

.title-btns > .user-btns > button:last-child {
	margin-left: 1em;
}

.yoga-blocks-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero {
	background-image: url("./images/tint-hero-image.jpg");
}

.hero,
.yoga-blocks-img {
	background-repeat: none;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero {
	background-position: -250px;
}

.yoga-blocks-content,
.yoga-blocks-title {
	color: white !important;
}

.hero-title {
	color: black;
	font-size: 2em;
	text-align: center;
	width: 100%;
	font-family: "Dawning of a New Day", cursive;
}

.hero-title a {
	text-decoration: none;
	color: var(--main-brown);
}

.hero-content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 250px;
	text-align: left;
}

.hero-title {
	font-size: 1.5em;
	text-align: left;
	padding-left: 1em;
}

.login-signup-button {
	background: none;
	border: none;
	text-transform: uppercase;
	letter-spacing: 8px;
	padding: 0px;
	font-size: 1em;
	margin-right: 2em;
	color: white;
}

.login-signup-button-group {
	display: flex;
	align-items: center;
	color: white;
}

.arrow-icon {
	color: white;
	stroke: white;
	fill: white;
}

.main-section {
	height: 100%;
}

.main-section .text-container-h2,
.main-section .text-container-p {
	max-width: 75ch;
}

.main-section .text-container-h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.5em;
	color: rgb(124, 109, 97);
}

.main-section .text-container-p {
	font-weight: 500;
	font-size: 16px;
	color: var(--light-gray-text);
	line-height: 1.5;
	margin: 0 auto;
	width: 90%;
}

.section-title {
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-bottom: 3em;
}

.section-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

.my-class-section {
	padding-top: 8em;
}

.my-img {
	width: 90%;
	margin: 0 auto;
	max-width: 450px;
	border-radius: 3px;
	box-shadow: -20px 20px 0px 0px rgb(243, 231, 228),
		-40px 40px 0px 0px var(--light-pink);
}

.how-it-works,
.my-story-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8em;
}

/* how it works */
.how-it-works-item + .how-it-works-item {
	margin-top: 2em;
}

.how-it-works-item {
	background: var(--light-pink);
	padding: 1em;
	border-radius: 5px;
	padding-top: 6em;
	max-width: 350px;
	font-weight: 500;
	font-size: 16px;
	color: var(--light-gray-text);
	line-height: 1.5;
}

.link-span {
	font-weight: bold;
	color: var(--main-brown);
	text-decoration: underline;
	cursor: pointer;
}

.how-it-works-btn {
	font-weight: bold;
	color: var(--main-brown);
	text-decoration: underline;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

.how-it-works-icon {
	position: relative;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
}

/* How does this work? */
.how-it-works-img {
	width: 100%;
	object-fit: cover;
	max-width: 993px;
	margin: 0 auto;
}

.how-it-works-section {
	padding-top: 0;
	color: white;
}

.how-it-works {
	padding-top: 8em;
}

.how-it-works-hero {
	background-image: url("./images/confetti-doodles.svg");
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.yoga-blocks-hero {
	background: linear-gradient(
			rgba(208, 180, 159, 0.5),
			rgba(208, 180, 159, 0.5)
		),
		url("./images/yoga-blocks-min.jpg");
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-repeat: none;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.dashboard-hero {
	background-image: url("./images/confetti-doodles.svg");
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.page-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.my-story-background {
	background-image: linear-gradient(
		174.2deg,
		rgba(255, 244, 228, 1) 7.1%,
		rgba(240, 246, 238, 1) 67.4%
	);
}

.book-private-hero {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.book-private-section {
	background: linear-gradient(
			rgba(208, 180, 159, 0.5),
			rgba(208, 180, 159, 0.5)
		),
		url("./images/group-yoga.jpg");
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-repeat: none;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.test {
	height: 100%;
}

.book-private-container {
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-direction: column;
}

footer {
	padding: 5em 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-pink);
}

.student-lists-container {
	max-width: 400px;
	margin: 0 auto;
}

/* ADMIN DASHBOARD */
.stats-overview {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 2em 0;
}
.stats-overview > * + * {
	margin-left: 2em;
}
.admin-dashboard {
	padding-top: 8em;
	background-image: linear-gradient(
		174.2deg,
		rgba(255, 244, 228, 1) 7.1%,
		rgba(240, 246, 238, 1) 67.4%
	);
}
.schedule-class-btn {
	width: 100px;
	margin: 0 auto;
	width: auto;
}
.admin-square-1 {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2em auto;
}

.admin-welcome {
	padding: 0.5em 1em;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.multiple-lists-container {
	max-width: 600px;
	margin: 0 auto;
}

.list-card {
	background: var(--lighter-pink);
	border-radius: 10px;
}

.multiple-lists-nav-item {
	font-size: 14px;
	color: gray;
	padding-bottom: 1em;
	border-bottom: 2px solid transparent;
	transition: font-weight 150ms ease, border-bottom 150ms ease, color 150ms ease;
}

.multi-list {
	background: var(--lighter-pink);
	border-radius: 10px;
	width: 80%;
	margin: 0.5em auto;
	min-height: 92px;
	height: 40vh;
	overflow-y: scroll;
}

.multi-list-container {
	flex: 1;
}

.lists-container {
	display: flex;
	width: 100%;
}

.currently-registered {
	font-size: 12px;
	text-align: right;
}

.qr-code {
	width: 100px;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.qr-code-problem {
	font-size: 0.75em;
}

.venmo-span {
	font-weight: bold;
	text-decoration: underline;
}

.header {
	width: 100%;
	z-index: 599;
}

button:disabled {
	cursor: not-allowed;
}

/* FORMS */
.create-class-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.create-class-date,
.create-class-time {
	margin-bottom: 1em;
}

.update-class-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.confirm-update-class {
	margin-top: 1em;
}

.update-class-date {
	margin-bottom: 1em;
	padding: 1em;
}

/* MODALS */

.cancel-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.edit-class-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.delete-class-modal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.modal-title {
	padding-bottom: 2em;
	font-size: 1.5em;
}

.modal-btn {
	margin-top: 1em;
	background-color: var(--main-brown);
	color: var(--light-pink);
}

.add-playlist-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	height: 100%;
}

.current-registrant-modal {
	height: 100%;
}

.signup-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	height: 100vh;
	width: 100%;
	z-index: 600;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: hidden;
}

.modal-card {
	z-index: 2001;
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--light-pink);
	color: var(--main-brown);
	padding: .5em;
}

.modal-header {
	padding: 1em;
}

.modal-content {
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	width: 100%;
}

.modal-footer {
	width: 100%;
	padding: 1em;
}

.reset-modal-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	cursor: pointer;
}

.reset-modal-btn > img {
	width: 20px;
}


.modal-center {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
}

.login-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-signup-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.cancellation-btn {
	margin-top: 1em;
}

.venmo-btn {
	text-decoration: none !important;
}

.main-btn {
	background-color: var(--main-brown);
	color: var(--light-pink);
	border-radius: 5px;
}

/* LISTS */

.selected-list {
	color: black;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.list-title {
	text-align: center;
}

.list-title {
	border-radius: 5px;
	width: 50%;
	color: black;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 2em;
}

.empty-list {
	padding: 1em;
	text-align: center;
	min-height: 92px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* PLAYLIST LIST */
.view-btn,
.edit-btn {
	margin-right: 0.5em;
}

.playlist-list {
	padding: 0.5em;
	max-height: 300px;
}

.playlist-item {
	padding: 1em;
	cursor: pointer;
}
.playlist-item:hover {
	opacity: 0.6;
}

/* PARTICIPANT LIST */
.no-current-registrants {
	padding: 0.5em;
	height: 100%;
	display: flex;
	align-items: center;
}

.participant-content {
	height: 100%;
}



.participant-list {
	padding: 0.5em;
	width: 100%;
	overflow-y: scroll;
	max-height: 400px;
}
.participant {
	font-size: 12px;
	padding: 1em 0.5em;
	border-bottom: 1px solid var(--main-brown);
	display: flex;
	align-items: center;
}

.participant:last-child {
	border-bottom: none;
}

.participant-details {
	margin-left: 1em;
}

.participant-details > div:first-child {
	margin-bottom: 0.5em;
}

.spotify-player {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page {
	height: 100%;
}

.signup-header {
    text-align: center;
    margin: 0;
}




.signup-form {
    display: flex;
    flex-direction: column;
}

.outline-input {
    padding: 1em;
    width: 100%;
}

.icon-input {
    padding-left: 50px;
}

.outline-input-container + .outline-input-container {
    margin-top: 1em;
}

.input-icon {
    width: 20px;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.outline-input-container {
    position: relative;
}

.signup-btn {
    width: 150px;
    margin: 0 auto;
    margin-top: 2em;

}



.main-btn {
	padding: 0.5em 1em;
	cursor: pointer;
	border: none;
	outline: none;
}

.main-btn:hover {
	opacity: 0.7;
}

.playlist-list {
	margin: 0;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

.playlist-item {
	list-style: none;
	display: flex;
}

.chosen {
	background-color: lightgreen;
}


.login-header {
    text-align: center;
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.outline-input {
    padding: 1em 0;
    width: 250px;
    padding-left: 50px;
}

.outline-input-container + .outline-input-container {
    margin-top: 1em;
}

.input-icon {
    width: 20px;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.outline-input-container {
    position: relative;
}

.login-btn {
    width: 150px;
    margin: 0 auto;
    margin-top: 2em;
}

.registrant-form {
    display: flex;
    flex-direction: column;
}


.current-class-list,
.previous-class-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 3em;
}

.dashboard {
	text-align: center;
	width: 100%;
}

.stats-overview {
	display: flex;
	margin-bottom: 3em;
}

.stats-overview > * {
	flex: 0 1 33.33%;
	text-align: center;
}

.create-class-form {
	margin-bottom: 3em;
}

.book-private-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 75%;
    margin: 0 auto;
}

.contact-email-input::placeholder, textarea::placeholder { 
    opacity: 1; 
    font-family: var(--ff-main);
    padding-left: 1em;
  }


.contact-email-input {
	border: none;
	border-radius: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: var(--light-pink);
}

textarea {
	resize: none;
	outline: none;
	border: none;
	width: 100%;
	background-color: var(--light-pink);

}

.contact-submit {
	padding: 1em;
	cursor: pointer;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.contact-submit:hover {
	transform: translate(0);
	filter: brightness(85%);
}


.contact {
    width: 100%;
}

.contact-form > * {
    width: 100%;
} 

.contact-form > input {
    line-height: 3em;
}


.submit-btn {
    padding: 1em;
    cursor: pointer;
}

textarea {
    min-height: 250px;
    max-height: 250px;
    resize: none;
}

.submit-btn:disabled {
    cursor:not-allowed;
}

.class-signup-header {
    text-align: center;
    margin: 0;
}


.class-details-list {
    text-align: left;
}

.class-details-item + .class-details-item {
    margin-top: 1em;
}


.register-submit-btn {
	margin-top: 2em;
}


.signup-step {
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.venmo-instructions {
text-align: center;
}

.toast {
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 10000;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	padding: 1.5em;
	width: 250px;
}

.success {
	background: rgb(92, 177, 92);
}

.failure {
	background: rgb(189, 49, 49);
}


@media screen and (min-width: 1000px) {
	.hero {
		background-position: initial;
	}
}

@media screen and (min-width: 1200px) {
	.my-class-section {
		padding-top: 12em;
	}

	.active-link {
		border-bottom: 2px solid var(--main-brown);
	}

	.inactive-link {
		border-bottom: 2px solid transparent;
	}

	.page {
		position: absolute;
		left: 0;
		right: 0;
	}

	.lists-container {
		display: flex;
		width: 100%;
	}

	.lists-container > * {
		flex: 1;
	}

	.student-manage {
		align-items: center;
		justify-content: center;
		padding-top: 12em;
	}

	.how-it-works,
	.my-story-section {
		padding-top: 12em;
	}

	.how-it-works-container {
		display: flex;
		max-width: 893px;
	}

	.how-it-works-item + .how-it-works-item {
		margin-top: 0;
		margin-left: 4em;
	}

	.how-it-works-item {
		flex: 1;
	}

	.hero-content {
		position: static;
	}

	.hero-title {
		color: black;
		font-size: 2em;
		text-align: left;
		padding-left: 0;
	}

	.header {
		display: flex;
		align-items: center;
		padding: 2em 3em;
		background: var(--light-pink);
		top: 0;
		position: fixed;
	}

	.sidebar-nav {
		padding: 0;
		padding-left: 3em;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	.user-btns {
		margin: 0;
		margin-left: auto;

		padding: 0;
		display: flex;
		flex-direction: row;
		border-bottom: none;
		width: auto;
		order: 2;
		margin-left: auto;
		line-height: 16px;
	}

	.main-title {
		font-size: 8em;
		max-width: 500px;
	}

	.nav-item + .nav-item {
		margin-top: 0;
	}

	.main-nav-item {
		margin-right: 2.5em;
	}

	.list-nav * {
		font-size: 12px;
	}
	.signup-button {
		margin-left: 2.5em;
	}

	.modal-card {
		width: auto;
		height: auto;
		padding: 3em;
		border-radius: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 400px;
		max-height: 500px;
	}
}
