* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

.braintree-container {
	max-width: 400px;
}

.navbar {
	width: 100%;
	font-family: "Licorice", cursive;
}

.navbar-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar-list li {
	height: 33.33vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0.75em 0; */
}

/* .navbar-list li + li {
    border-top: 5px solid white;
} */

.navbar-list li a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-link {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* color: white; */
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.menu-link a {
	color: white;
	width: 100%;
	height: 100%;
}

.classes-link {
	background-image: linear-gradient(
			rgba(35, 93, 104, 0.5),
			rgba(35, 93, 104, 0.5)
		),
		url("images/test-yoga-pic.jpg");
}

.music-link {
	background-image: linear-gradient(
			rgba(86, 170, 18, 0.5),
			rgba(86, 170, 18, 0.5)
		),
		url("images/test-music-pic.jpg");
}

.bookings-link {
	background-image: linear-gradient(
			rgba(130, 24, 179, 0.5),
			rgba(130, 24, 179, 0.5)
		),
		url("images/test-private-pic.jpg");
}

.classes,
.music,
.bookings {
	height: 100vh;
	/* font-size: 1.5em; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* color: white; */
	font-weight: bold;
	/* font-size: 2.5em; */
	font-size: 1.5em;

	text-align: center;
}

.classes, .class {
	/* background-image: linear-gradient(rgba(35, 93, 104, 0.5), rgba(35, 93, 104, 0.5)); */
	/* background-color: rgb(35, 93, 104); */
	background-color: black;
	background-color: #009688;
}
.music {
	/* background-image: linear-gradient(rgba(86, 170, 18, 0.5), rgba(86, 170, 18, 0.5)); */
	/* background-color: rgb(86, 170, 18); */
	background-color: #4caf50;
}
.bookings {
	/* background-image: linear-gradient(rgba(130, 24, 179, 0.5), rgba(130, 24, 179, 0.5)); */
	/* background-color: rgb(130, 24, 179); */
}

.spotify-player {
	background-color: black;
}

iframe {
	margin-top: 5em;
}

.back-button {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1000;
	border: none;
	background: none;
	border: 1px solid white;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	color: white;
}

.back-button a {
	width: 25px;
	height: 25px;
	color: white;
}

.class-list {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	font-size: 0.75em;
	height: 50vh;
	padding: 1em 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}
.classes > div {
	width: 100%;
	margin: 0 2em;
}
.class-list > span, .class-list > li {
	width: 80%;
	max-width: 400px;
}

.class-list > span > li {
	width: 100%;
}

.class-list li a > div, .class-list li a {
	margin-bottom: 1em;
}

.classes > div, .music > div {
	height: 100%;
	padding: 2em 0;
	overflow-y: scroll;
}

.class {
	/* background-color: white; */
}



.absolute {
	position: absolute;
	top: 0;
	/* bottom: 0; */
	left: 0;
	right: 0;
	bottom: 0;
}

/* slide in from right */
.right > .slide-enter {
    transform: translateX(100%);
    z-index: 100;
}

.right > .slide-enter.slide-enter-active {
    transform:translateX(0);
    transition: transform 500ms ease-out;
}

.right > .slide-exit {
    z-index: -100;
    transform: translateX(0);
}


.right > .slide-exit.slide-exit-active {
    transform:translateX(-100%);
    transition: transform 500ms ease-out;
}

/* slide in from left */
.left > .slide-enter {
    transform: translateX(-100%);
	z-index: 100;
}

.left > .slide-enter.slide-enter-active {
    z-index: 100;
    transform: translateX(0);
    transition: transform 500ms ease-out;
}

.left > .slide-exit {
    transform: translateX(0);
}

.left > .slide-exit.slide-exit-active {
    z-index: -100;
    transform:translateX(100%);
    transition: transform 500ms ease-out;
}

.registrant-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 5em; */
    width: 100%;
}

.absolute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* padding: 2em; */
    
}

.braintree-heading {
    display: none;
}

.braintree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 2em 0 2em;

}

.braintree-upper-container {
    /* height: 300px; */
	background-color: #009688;
}

.braintree-large-button {
	background-color: #009688;

}

a {
	text-decoration: none;
}



  #outlined-basic-label {
	color: white;
  }

fieldset {
	border-color: rgba(0, 0, 0, 0);
}

.MuiOutlinedInput-notchedOutline {
	border-color: white;
}

.MuiOutlinedInput-notchedOutline .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border-color: rgba(255, 255, 255, 1);
}

.braintree-large-button {
	color: white;
	font-weight: bold;
}


/* Dashboard */

/* class lists */

.current-class-list, .previous-class-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 3em;
}

/* Stats */

.dashboard {
	text-align: center;
}

.stats-overview {
	display: flex;
	margin-bottom: 3em;
}

.stats-overview > * {
	flex: 0 1 33.33%;
	text-align: center;
}


/* Create Class Form */

.create-class-form {
	margin-bottom: 3em;
}


/* Modal */

.modal-backdrop {
	background-color: rgba(0, 0, 0, .8);
	height: 100vh;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: hidden;
}

.modal-card {
	z-index: 1000;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 50vh;
	display: flex;
	flex-direction: column;
}


.modal-header {
	border-bottom: 1px solid black;
	padding: 1em;
}

.modal-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	overflow-y: scroll;
}

.modal-footer {
	border-top: 1px solid black;
	width: 100%;
	padding: 1em;
}

.participant-list {
	margin: 0;
	padding: 0;
}

.participant {
	list-style: none;
	display: flex;
}

.participant + .participant {
	margin-top: 1em;
}