* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

a {
	text-decoration: none;
}


.main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
    /* padding-top: 5em; */
}

.view {
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 1px solid black; */
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:stretch; */
	/* background-color: blue; */
	/* padding-top: 5em; */

}

.view-header {
	text-align: center;
	margin-bottom: 2em;
	font-size: 2em;
}


.main-view {
	background-color: tomato;
	height: 100%;
}

.mobile-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-content {
	flex: 1;
    overflow-y: scroll;
    padding-top: 5em;
}

.btn {
    cursor: pointer;
    text-align: center;
}

.btn-pink {
    background-color: rgb(236, 194, 228);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 1em 0;
    font-weight: bold;
}

.btn-pink:hover {
    background-color: rgb(218, 99, 185);
    /* color: white; */

}

.btn-container-stacked {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 auto;
}

.btn-container-stacked .btn + .btn {
    margin-top: .5em;
}

.user-btns {
    display: flex;
    /* position: absolute; */
    padding-top: 20px;
    /* right: 20px; */
    margin: 0 auto;
    /* margin-top: 1em;
    z-index: 900 */
}

.user-btns .btn + .btn {
    margin-left: .5em;
}

.user-btns .btn {
    width: 150px;
}