.class-signup-header {
    text-align: center;
    margin: 0;
}

.class-signup-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.class-details-list {
    text-align: left;
    /* margin-bottom: 2em; */
}

.class-details-item + .class-details-item {
    margin-top: 1em;
}


.register-submit-btn {
	margin-top: 2em;
}

/* 
.venmo-btn a {
    color: white;
} */

.signup-step {
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.venmo-instructions {
text-align: center;
}