.class-list {
	list-style: none;
	margin: 0;
	padding: 0;
	/* height: 100%; */
	overflow-y: scroll;
	border: 3px solid black;
	max-height: 80vh;
	border-radius: 10px;
}

.classes {
	padding-top: 5em;
}

@media screen and (min-width: 765px) {
	.classes {
		padding-top: 0;
	}
}




