.class-card-content {
    text-align: left;
}

.class-card-content > * {
    flex: 1;
}

.card-header {
    margin: 0;
    font-size: 1em;
    margin-bottom: .5em;
}

.class-card-day {
    font-size: .75em;
}

.class-list-item {
    width: 100%;
    text-align: center;
    /* border: 1px solid lightgray; */
    padding: 1em 1em;
    display: flex;
    align-items: center;
    
}

.class-list-item + .class-list-item {
    border-top: 1px solid lightgray;
}

.class-list-item:first-child {
    border-top: 1px solid lightgray;
}

.class-list-item:last-child {
    border-bottom: 1px solid lightgray;
}

.class-actions {
    margin-left: auto;
    width: 100px;
    /* display: flex; */
}

.class-actions .btn {
    width: 100%;
}

