/* .class-card-content {
    text-align: left;
}

.class-card-content > * {
    flex: 1;
}

.card-header {
    margin: 0;
    font-size: 1em;
    margin-bottom: .5em;
}

.class-card-day {
    font-size: .75em;
}

.class-list-item {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    display: flex;
    align-items: center;    
}

.class-list-item + .class-list-item {
    border-top: 3px solid black;
}

.class-actions {
    margin-left: auto;
    display: flex;
}

.class-actions .btn {
    width: 100%;
}

@media screen and (min-width: 1140px) {
    .class-list-item {
        padding: 1em 5em;
    }
}
 */
