.class-signup-header {
    text-align: center;
    margin: 0;
}

.class-signup-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.class-details-list {
    text-align: left;
    margin-bottom: 2em;
}

.class-details-item + .class-details-item {
    margin-top: 1em;
}
