.contact-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 75%;
    margin: 0 auto;
}

.contact-email-input::placeholder, textarea::placeholder { 
    color: white;
    opacity: 1; 
    font-family: 'Fredoka One', cursive !important;
    padding-left: 1em;
  }


.contact-email-input {
	border: none;
	background-color: var(--blue3);
	border-radius: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: var(--main-box-shadow);
}

textarea {
	resize: none;
	background-color: var(--blue3);
	outline: none;
	border: none;
	box-shadow: var(--main-box-shadow);
	width: 100%;
}

.contact-submit {
	padding: 1em;
	cursor: pointer;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: var(--main-box-shadow);
}

.contact-submit:hover {
	transform: translate(0);
	box-shadow: var(--main-box-shadow);
	filter: brightness(85%);
}


.contact {
    width: 100%;
}

.contact-form > * {
    width: 100%;
} 

.contact-form > input {
    line-height: 3em;
}


.submit-btn {
    padding: 1em;
    cursor: pointer;
}

textarea {
    min-height: 250px;
    max-height: 250px;
    resize: none;
}

.submit-btn:disabled {
    cursor:not-allowed;
}

