/* .default-home {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 10em;
}

@media screen and (min-width: 765px) {
    .default-home {
        padding-top: 150px;
    }
}

.default-home-title {
    margin: 0 auto;
    text-align: center;
}

.default-home-welcome {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
} */