/* Modal */
.modal-backdrop {
	background-color: rgb(0, 0, 0);
	opacity: .8;
	height: 100vh;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: hidden;
}

.modal-card {
	z-index: 1000;
	background-color: white;
	position: absolute;
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* padding-top: 5em; */
}



.modal-header {
	/* border-bottom: 1px solid black; */
	padding: 1em;
}

.modal-content {
	display: flex;
	justify-content: center;
	/* flex: 1; */
	overflow-y: scroll;
	margin-top: 2em;
	margin-bottom: 2em;
	
}

.modal-footer {
	/* border-top: 1px solid black; */
	width: 100%;
	padding: 1em;
}

.participant-list,
.playlist-list {
	margin: 0;
	padding: 0;
}

.participant,
.playlist-item {
	list-style: none;
	display: flex;
}

.participant + .participant {
	margin-top: 1em;
}

.chosen {
	background-color: lightgreen;
}

/* .backdrop-fade-start {
	opacity: 0;
}

.backdrop-fade-start.backdrop-fade-start-active {
	opacity: .8;
	transition: opacity 250ms ease;
}

.modal-slide-start {
	transform: translateY(100%);
}

.modal-slide-start.modal-slide-start-active {
	transform: translateY(0);
	transition: transform 250ms ease;
	transition-delay: 100ms;
}

.modal-slide-start > div:last-child {
	opacity: 0;
}

.modal-slide-start.modal-slide-start-active > div:last-child {
	opacity: 1;
	transition: opacity 250ms ease;
	transition-delay: 350ms;
} */

.reset-modal-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	cursor: pointer;
}

.reset-modal-btn > img {
	width: 20px;
}

/* .modal-slide-end-active {
	transform: translateY(100%);
	transition: transform 250ms ease;
} */

/* .slide-out-exit {
	transform: translateY(0);
}

.slide-out-exit.slide-out-exit-active {
	transform: translateY(100%);
	transition: transform 5000ms ease;
} */

/* .modal-slide-end-active > .modal-card{
	transform: translateY(100%);
	transition: transform 5000ms ease;
} */

/* MODAL ENTER TRANSITION */

/* Modal background fade in */
.translate-y-enter > .modal-backdrop {
	opacity: 0;
}
.translate-y-enter.translate-y-enter-active > .modal-backdrop {
	opacity: 0.8;
	transition: opacity 250ms ease;
}

/* Card slide */
.translate-y-enter > .modal-card {
	transform: translateY(120%);
}
.translate-y-enter.translate-y-enter-active > .modal-card {
	transform: translateY(0);
	transition: transform 250ms ease;
	transition-delay: 100ms;
}

/* Card content appear */
.translate-y-enter > .modal-card > div:last-child {
	opacity: 0;
}

.translate-y-enter.translate-y-enter-active > .modal-card > div:last-child {
	opacity: 1;
	transition: opacity 250ms ease;
	transition-delay: 350ms;
}





/* Card content fade out */
/* .translate-y-exit > .modal-card > div:last-child {
	opacity: 1;
}
.translate-y-exit.translate-y-exit-active > .modal-card > div:last-child {
	opacity: 0;
	transition: opacity 250ms ease;
	transition-delay: 100ms
} */

/* Card slide down */
.translate-y-exit > .modal-card {
	transform: translateY(0);
}
.translate-y-exit.translate-y-exit-active > .modal-card {
	transform: translateY(120%);
	transition: transform 250ms ease;
	transition-delay: 100ms
}

/* Modal background fade out */

.translate-y-exit > .modal-backdrop {
	opacity: 0.8;
}
.translate-y-exit.translate-y-exit-active > .modal-backdrop {
	opacity: 0;
	transition: opacity 250ms ease;
	transition-delay: 350ms;
}

@media screen and (min-width: 765px) {
	.modal-card {
		top: 150px;
		bottom: 150px;
		left: 20%;
		right: 20%;
		width: auto;
		height: auto;
	}

	.modal-card {
		border-radius: 10px;
	}
}

.modal-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

@media screen and (min-width: 1400px) {
	.modal-center {
		padding: 0 3em;
	}
	.modal-card {
		top: 250px;
		bottom: 250px;
		left: 30%;
		right: 30%;
	}


	/* Card slide down */

.translate-y-exit.translate-y-exit-active > .modal-card {
	transform: translateY(160%);
	transition: transform 250ms ease;
	transition-delay: 100ms
}

/* Card slide */
.translate-y-enter > .modal-card {
	transform: translateY(160%);
}

}