.navbar {
	width: 100%;
	background-color: lightblue;
    display: flex;
}

/* .navbar-list {
    list-style: none;
    display: flex;
} */

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1.5em;
    flex: 1;
}
