.navbar {
	width: 100%;
    display: flex;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    
}
.nav-item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em;
    flex: 1;
    text-align: center;
    color: #272324
}

@media screen and (min-width: 765px) {
    .navbar {
        position: static;
        width: auto;
    }

    .nav-item {
        padding: 0;
        flex: auto;
    }

    .nav-item + .nav-item {
        margin-left: 2em;
    }
    
}
