.signup-form {
    display: flex;
    flex-direction: column;
}

.outline-input {
    padding: 1em;
    width: 100%;
}

.icon-input {
    padding-left: 50px;
}

.outline-input-container + .outline-input-container {
    margin-top: 1em;
}

.input-icon {
    width: 20px;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.outline-input-container {
    position: relative;
}

.signup-btn {
    width: 150px;
    margin: 0 auto;
    margin-top: 2em;

}